<mat-toolbar color="primary" >
      <mat-toolbar-row dir="ltr">
        <span><img ></span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
    
        <button *ngIf="!logOut" routerLink="/login" mat-button>כניסה</button>
        <button *ngIf="logOut" (click)="logOutFunc()" mat-button>יציאה</button>
        <button routerLink="/profile" mat-button>הפרופיל האישי </button>
      </mat-toolbar-row>
    </mat-toolbar>
  